[submodule "app/Plugin/Utils"]
	path = app/Plugin/Utils
	url = https://github.com/CakeDC/utils.git
[submodule "app/Plugin/Upload"]
	path = app/Plugin/Upload
	url = https://github.com/josegonzalez/upload.git
[submodule "app/Plugin/TinyMCE"]
	path = app/Plugin/TinyMCE
	url = git://github.com/CakeDC/TinyMCE.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Geocoder"]
	path = app/Plugin/Geocoder
	url = https://github.com/martinbean/cakephp-geocoding-plugin.git
[submodule "app/Plugin/BoostCake"]
	path = app/Plugin/BoostCake
	url = https://github.com/slywalker/cakephp-plugin-boost_cake
[submodule "lib"]
	path = lib
	url = https://github.com/cakephp/cakephp.git
